body {
    background-color: #fecea8;
}

.container {
    position: absolute;
    width: 900px;
    height: 900px;
    top: 50%;
    left: 50%;
    margin-left: -450px;
    margin-top: -450px;
    background-color: #ff847c;
    border-radius: 7px;
    padding: 10px;
}

